@model IEnumerable<MagniFinanceExercise.Models.Curso>

@{
    ViewData["Title"] = "Curso";
    var Profs = ViewData["CountProfs"];
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br />

<p>Quantidade de professores - @Profs</p>

<br />

<a asp-controller="Aluno" asp-action="Index">Ver notas dos alunos</a>